<div class="row">
  <!-- search bar -->
  <div class="col-md-6">
    <%= form_tag polymorphic_path(item_class), :method => :get do %>
      <div class="input-group input-group-md">
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search by Name" %>
        <span style="padding:0px 0px 0px 0px !important" class="input-group-addon">
          <%= button_tag type: "submit", class: "btn btn-success" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
      <!-- display the current search term in a dismissable tag -->
      <% if @search_term.size > 0 %>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert">
            <%= @search_term %>
            <%= button_tag type: "submit", class: "close", name: "search", value: "" do %>
              <span aria-hidden="true">&times;</span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
