<!-- main table -->
<% if items.length == 0 %>
  <div class="alert alert-warning">Nothing to display</div>
<% else %>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <% columns.each do |col_hash| %>
        <% col = col_hash[:field] %>
        <% if col == "actions" %>
          <th scope="col" class="col-actions">Actions</th>
        <% elsif col.include? "." %>
          <th scope="col"><%= (col).humanize.capitalize %></th>
        <% else %>
          <th scope="col"><%= sortable col, col.humanize.capitalize, item_class %></th>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% items.each do |item| %>
      <tr>
        <% columns.each do |col_hash| %>
          <td>
            <!-- Actions column -->
            <% if col_hash[:field] == "actions" %>
              <!-- display the Show button unless the configurations settings dictate otherwise -->
              <% unless col_hash[:hidden] and col_hash[:hidden].map(&:downcase).include? "show" %>
                <%= link_to edit_polymorphic_path(item), :class => "btn btn-default" do %>
                  <i class="fa fa-eye"></i> Show
                <% end %>
              <% end %>
              <!-- display the Delete button unless the configurations settings dictate otherwise -->
              <% unless col_hash[:hidden] and col_hash[:hidden].map(&:downcase).include? "delete" %>
                <%= link_to item, method: :delete, data: { confirm: "Are you sure you want to remove?" }, :class => "btn btn-danger" do %>
                  <i class="fa fa-trash"></i> Delete
                <% end %>
              <% end %>
            <!-- if we are displaying a field that is an association-->
            <% elsif col_hash[:subField] %>
              <!-- if the association is one-to-many -->
              <% if col_hash[:field].pluralize == col_hash[:field] %>
                <% item.send(col_hash[:field]).each do |sub_item| %>
                  <p><%= sub_item.send(col_hash[:subField]) %></p>
                <% end %>
              <!-- if the association is one-to-one -->
              <% else %>
                <p><%= item.send(col_hash[:field]).send(col_hash[:subField]) %></p>
              <% end %>
            <!-- if we are displaying a standard field -->
            <% else %>
                <!-- if the column is editable -->
                <% if col_hash[:editable] %>
                  <%= editable item, col_hash[:field] %>
                <!-- if the column is not editable -->
                <% else %>
                  <%= item.send(col_hash[:field]) %>
                <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <!-- show pagination -->
  <%= will_paginate items, renderer: BootstrapPagination::Rails %>
<% end %>


<!-- enable pagination -->
<script>
    (function() {
        var ready;

        ready = function() {
            return $('.editable').editable({
                mode: 'inline'
            });
        };

        $(document).ready(ready);

        $(document).on('page:load', ready);

    }).call(this);
</script>
