<!-- main table -->
<% if items.length == 0 %>
  <div class="alert alert-warning">Nothing to display</div>
<% else %>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <% columns.each do |col_hash| %>
        <% col = col_hash[:field] %>
        <% if col == "actions" %>
          <th scope="col" class="col-actions">Actions</th>
        <% elsif col_hash[:sort_column] %>
          <th scope="col"><%= sortable col_hash[:sort_column], col.humanize.capitalize, item_class %></th>
        <% else %>
            <th scope="col" class="col-actions"><%= col.humanize.capitalize %></th>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% items.each do |item| %>
      <tr>
        <% columns.each do |col_hash| %>
          <td>
            <!-- Actions column -->
            <% if is_actions_column(col_hash) %>
              <% if display_action(col_hash, "show") %>
                <%= link_to edit_polymorphic_path(item), :class => "btn btn-default" do %>
                  <i class="fa fa-eye"></i> Show
                <% end %>
              <% end %>
              <% if display_action(col_hash, "delete") %>
                <%= link_to item, method: :delete, data: { confirm: "Are you sure you want to remove?" }, :class => "btn btn-danger" do %>
                  <i class="fa fa-trash"></i> Delete
                <% end %>
              <% end %>
            <% else %>
                <%= display_field(col_hash, item) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
  <!-- show pagination -->
  <%= will_paginate items %>
<% end %>


<!-- enable editable -->
<script>
    (function() {
        var ready;

        ready = function() {
            return $('.editable').editable({
                mode: 'inline'
            });
        };

        $(document).ready(ready);

        $(document).on('page:load', ready);

    }).call(this);

    $.fn.editable.defaults.error =
        function(response, newValue) {
            var field_name = $(this).data('name'),
                error_msgs = response.responseJSON[field_name];
            return error_msgs.join("; ");
        };
</script>
