<%= render "shared/errors", errors: @group.errors %>

<%= form_for @group, html: { class: "well form-horizontal" } do |f| %>
  <fieldset>
    <div class="form-group">
      <label class="col-md-4 control-label">Name</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.text_field :name, class: "form-control"%>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Description</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
          <%= f.text_field :description, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 inputGroupContainer">
        <div class="input-group pull-right">
          <%= f.submit "Submit", class: "btn btn-success"%>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
