<%= render "shared/errors", resource: @user %>

<%= form_for @user, html: { class: "well form-horizontal" } do |f| %>
  <fieldset>
    <div class="form-group">
      <label class="col-md-4 control-label">First Name</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.text_field :first_name, class: "form-control"%>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Last Name</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Email</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Password</label>
      <div class="col-md-8 inputGroupContainer">
        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%= f.password_field :password, class: "form-control", placeholder: "Enter new password if desired" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12 inputGroupContainer">
        <div class="input-group pull-right">
          <%= f.submit "Submit", class: "btn btn-success"%>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
