<div class="row">
  <!-- search bar -->
  <div class="col-md-6">
    <%= form_tag polymorphic_path(item_class), :method => :get do %>
      <div class="input-group input-group-md">
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search by Name" %>
        <span style="padding:0px 0px 0px 0px !important" class="input-group-addon">
          <%= button_tag type: "submit", class: "btn btn-success" do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
      <% if @search_term.size > 0 %>
        <div class="col-md-6">
          <div class="alert alert-success" role="alert">
            <%= @search_term %>
            <%= button_tag type: "submit", class: "close", name: "search", value: "" do %>
              <span aria-hidden="true">&times;</span>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- "New"" button -->
<div class="row">
  <div class="col-md-12">
    <%= link_to new_polymorphic_path(item_class), :class => "btn btn-success" do %>
      <i class="fa fa-plus"></i> New
    <% end %>
  </div>
</div>

<!-- main table -->
<% if items.length == 0 %>
  <div class="alert alert-warning">Nothing to display</div>
<% else %>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <% columns.each do |col| %>
        <th scope="col"><%= sortable col, col.humanize.capitalize, item_class %></th>
      <% end %>
      <th scope="col" class="col-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% items.each do |item| %>
      <tr>
        <% columns.each do |col| %>
          <td>
            <%= editable item, col %>
          </td>
        <% end %>
        <td class="text-center">
          <%= link_to polymorphic_path(item), :class => "btn btn-default" do %>
            <i class="fa fa-eye"></i> Show
          <% end %>
          <%= link_to item, method: :delete, data: { confirm: "Are you sure you want to remove?" }, :class => "btn btn-danger" do %>
            <i class="fa fa-trash"></i> Delete
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate items, renderer: BootstrapPagination::Rails %>
<% end %>
