<!DOCTYPE html>
<html>
  <head>
    <title>Meetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation', menu_items: [Group, User] %>
    <div class="container">
      <% if notice %>
        <%= render "shared/notice", notice: notice %>
      <% end %>
      <% if alert %>
        <%= render "shared/notice", notice: alert, alert_type: "danger" %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
